@media (prefers-color-scheme: dark) {
  :root {
      --linkColour: #eee;
      --themeBase: #8E2323;
      --themeAccent: #003366;
      --themeAnchor: #ebc79e;
      --pageBackgroundColour: #001121;
      --infoBackgroundColour: #260a0a;
      --nonLinkColour: #fff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
      --linkColour: #333;
      --themeBase: #ebc79e;
      --themeAccent: #8E2323;
      --themeAnchor: #003366;
      --pageBackgroundColour: #FFFFF0;
      --infoBackgroundColour: #f4f4f4;
      --nonLinkColour: #555;
  }
}

body {
  margin: 0px;
  font-weight: 300;
  font-family: sans-serif, 'Zapf Dingbats';
  color: var(--nonLinkColour);
  background-color: var(--pageBackgroundColour);
}

#timeline {
  width: 14px;
  background: var(--themeAnchor);
  border-radius: 7px;
  height: 100%;
  padding: 20px 0px;
  position: absolute;
  top: -20px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: -1;
}

#loadingMessage {
  position: relative;
  top: 0px;
  bottom: 0px;
  line-height: 50px;
  padding-top: 50vh;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 25px;
}

#container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  position: relative;
  left: 0px;
  right: 0px;
  top: 50px;
  margin-bottom: 120px;
}

.title {
  position: relative;
  width: 50%;
  border-radius: 15px;
  padding: 30px;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
  font-weight: normal;
  white-space: normal;
}

.title a {
  text-decoration: none;
  font-weight: 500;
}

.heading {
  display: table-cell;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.headLeft {
  width:50%;
  text-align: left;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  padding-right: 25px;
  padding-left: 25px;
  left:0px;
}

.headRight {
  text-align: right;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  padding-right: 25px;
  padding-left: 25px;
  right: 0px;
}
.level {
  width:100%;
  position: relative;
  content: "";
  display: table;
  clear:both;
}

@media only screen and (orientation: portrait){
  .title {
    width: 75%;
    line-height: 50px;
    font-size: 40px;
  }

  .heading {
    line-height: 45px;
    font-size: 40px;
    font-weight: 500;
  }

  .level {
    margin-top: 35px;
    margin-bottom: 45px;
  }

  .info {
    background: var(--infoBackgroundColour);
    padding: 10px;
    width: 80%;
  }
  .info.leftInfo {
    text-align: left;
  }

  .info.rightInfo {
    text-align: right;
  }

  .infoDot {
    position: relative;
    content: "";
    display: block;
    width: 10%;
    height: 30px;
    border-radius: 15px;
    margin: auto;
  }

  .infoDate {
    position: absolute;
    top: 0px;
    line-height: 45px;
    border-radius: 25px;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: var(--linkColour);
  }

  .leftDate {
    text-align: left;
    padding-right: 25px;
    padding-left: 25px;
    left:0px;
  }

  .rightDate {
    text-align: right;
    padding-right: 25px;
    padding-left: 25px;
    right: 0px;
  }

  .info h1 {
    font-size: 45px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: 500;
    width: 100%;
  }

  .info h3 {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    font-weight: 300;
    position: relative;
  }

  .info h3 span a {
    color: var(--linkColour);
    text-decoration: none;
    font-weight: 500;
  }


  /* slider toggle*/
  .switch {
    width: 100px;
    height: 100px;
  }

  .backTime, .foreTime
  {
    font-size: 30px;
  }

  .backTime:before
  {
    content:">>";
  }

  .foreTime::before
  {
    content:"<<";
  }
}

@media only screen and (orientation: landscape) {
  .title {
    line-height: 35px;
    font-size: 28px;
  }

  .heading {
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
  }

  .level {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .info {
    background: var(--infoBackgroundColour);
    padding: 10px;
    width: 44%;
  }

  .info:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0px;
  }

  .info.leftInfo:after {
    left: 45.5%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--infoBackgroundColour);
  }

  .info.rightInfo:after {
    right: 45.5%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right:15px solid var(--infoBackgroundColour);
  }

  .infoDate {
    position: absolute;
    top: 0px;
    line-height: 30px;
    border-radius: 15px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    color: var(--linkColour);
  }

  .infoDot {
    position: absolute;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #bababa;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 0px;
  }

  .infoDot:after {
    position: absolute;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background: #ffffff;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
  }

  .leftDate {
    text-align: left;
    padding-right: 20px;
    padding-left: 35px;
    left:0px;
  }

  .rightDate {
    text-align: right;
    padding-right: 35px;
    padding-left: 20px;
    right: 0px;
  }

  .info h1 {
    font-size: 17px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: 500;
    width: 100%;
  }

  .info h3 {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 300;
    position: relative;
  }

  .info h3 span a {
    color: var(--linkColour);
    text-decoration: underline dotted;
    font-weight: 500;
  }


  /* slider toggle*/
  .switch {
    width: 120px;
    height: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(85px);
    -ms-transform: translateX(85px);
    transform: translateX(85px);
  }

  .backTime, .foreTime
  {
    font-size: 13px;
  }

  .backTime:before
  {
    content:"Reverse";
  }

  .foreTime::before
  {
    content:"Chrono";
  }
}

.info.leftInfo {
  float:left;
}

.info.rightInfo {
  float:right;
}

.info p {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  font-weight: 300;
}

h3 span a:hover{
  color: grey;
}


/* slider toggle */
.switch {
  position: relative;
  display: inline-block;
  margin: 15px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--themeBase);
  color: var(--themeAccent);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--themeAccent);
  color: var(--themeBase);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--themeAccent);
}

.backTime, .foreTime
{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-weight: 500;
}

.backTime
{
  display: none;
}

input:checked + .slider .backTime
{
  display: block;
}

input:checked + .slider .foreTime
{
  display: none;
}

.slider.round {
  border-radius: 34px;
}
